body {
    background-color: lightpink;
    font-family: Arial, sans-serif;
}
h1 {
   font-size: 100px;
}
.start-button {
    background-color: #3f6dcc;
    color: white;
    font-size: 25px;
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
    padding: 25px 50px;
    transition: 0.2s;
}
h2 {
    font-size: 40px;
    margin-top: 50px;
}
.start-button:hover {
    transform: scale(1.05);
}
h2 { 
    margin-top: 50px;
 }

.home {
    text-align: center;
    margin-top: 190px;
}    

.about-button {
    font-size: 30px;
    font-family: Georgia, serif;
}

.about-title {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

p {
    font-size: 22px;
    line-height: 1.6;
    text-align: center;
    margin-top: 60px;
}
h2 { 
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
}